@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace BlazorApplication.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="BlazorApplication.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />

    <link href="_content/Syncfusion.Blazor/styles/bootstrap5.css" rel="stylesheet" />

    <script src="~/scripts/sf-accordion.min.js"></script>
    <script src="~/scripts/sf-accumulation-chart.min.js"></script>
    <script src="~/scripts/sf-barcode.min.js"></script>
    <script src="~/scripts/sf-breadcrumb.min.js"></script>
    <script src="~/scripts/sf-bullet-chart.min.js"></script>
    <script src="~/scripts/sf-calendar.min.js"></script>
    <script src="~/scripts/sf-chart.min.js"></script>
    <script src="~/scripts/sf-circulargauge.min.js"></script>
    <script src="~/scripts/sf-colorpicker.min.js"></script>
    <script src="~/scripts/sf-contextmenu.min.js"></script>
    <script src="~/scripts/sf-dashboard-layout.min.js"></script>
    <script src="~/scripts/sf-datepicker.min.js"></script>
    <script src="~/scripts/sf-daterangepicker.min.js"></script>
    <script src="~/scripts/sf-diagramcomponent.min.js"></script>
    <script src="~/scripts/sf-dialog.min.js"></script>
    <script src="~/scripts/sf-documenteditor.min.js"></script>
    <script src="~/scripts/sf-documenteditorcontainer.min.js"></script>
    <script src="~/scripts/sf-drop-down-button.min.js"></script>
    <script src="~/scripts/sf-dropdownlist.min.js"></script>
    <script src="~/scripts/sf-filemanager.min.js"></script>
    <script src="~/scripts/sf-floating-action-button.min.js"></script>
    <script src="~/scripts/sf-gantt.min.js"></script>
    <script src="~/scripts/sf-grid.min.js"></script>
    <script src="~/scripts/sf-heatmap.min.js"></script>
    <script src="~/scripts/sf-image-editor.min.js"></script>
    <script src="~/scripts/sf-inplaceeditor.min.js"></script>
    <script src="~/scripts/sf-kanban.min.js"></script>
    <script src="~/scripts/sf-lineargauge.min.js"></script>
    <script src="~/scripts/sf-listbox.min.js"></script>
    <script src="~/scripts/sf-listview.min.js"></script>
    <script src="~/scripts/sf-maps.min.js"></script>
    <script src="~/scripts/sf-maskedtextbox.min.js"></script>
    <script src="~/scripts/sf-mention.min.js"></script>
    <script src="~/scripts/sf-menu.min.js"></script>
    <script src="~/scripts/sf-multiselect.min.js"></script>
    <script src="~/scripts/sf-numerictextbox.min.js"></script>
    <script src="~/scripts/sf-pager.min.js"></script>
    <script src="~/scripts/sf-pdfviewer.min.js"></script>
    <script src="~/scripts/sf-pivotview.min.js"></script>
    <script src="~/scripts/sf-progressbar.min.js"></script>
    <script src="~/scripts/sf-range-navigator.min.js"></script>
    <script src="~/scripts/sf-rating.min.js"></script>
    <script src="~/scripts/sf-richtexteditor.min.js"></script>
    <script src="~/scripts/sf-schedule.min.js"></script>
    <script src="~/scripts/sf-sidebar.min.js"></script>
    <script src="~/scripts/sf-signature.min.js"></script>
    <script src="~/scripts/sf-slider.min.js"></script>
    <script src="~/scripts/sf-smith-chart.min.js"></script>
    <script src="~/scripts/sf-sparkline.min.js"></script>
    <script src="~/scripts/sf-speeddial.min.js"></script>
    <script src="~/scripts/sf-spinner.min.js"></script>
    <script src="~/scripts/sf-splitter.min.js"></script>
    <script src="~/scripts/sf-stock-chart.min.js"></script>
    <script src="~/scripts/sf-svg-export.min.js"></script>
    <script src="~/scripts/sf-tab.min.js"></script>
    <script src="~/scripts/sf-textbox.min.js"></script>
    <script src="~/scripts/sf-timepicker.min.js"></script>
    <script src="~/scripts/sf-toast.min.js"></script>
    <script src="~/scripts/sf-toolbar.min.js"></script>
    <script src="~/scripts/sf-tooltip.min.js"></script>
    <script src="~/scripts/sf-treegrid.min.js"></script>
    <script src="~/scripts/sf-treemap.min.js"></script>
    <script src="~/scripts/sf-treeview.min.js"></script>
    <script src="~/scripts/sf-uploader.min.js"></script>
    <script src="~/scripts/sortable.min.js"></script>
    <script src="~/scripts/spinner.min.js"></script>
    <script src="~/scripts/splitbuttonsbase.min.js"></script>
    <script src="~/scripts/svgbase.min.js"></script>
    <script src="~/scripts/syncfusion-blazor-base.min.js"></script>
    <script src="~/scripts/syncfusion-blazor-extended.min.js"></script>
    <script src="~/scripts/syncfusion-blazor.min.js"></script>

</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
